.container {
  width: 960px !important;
}
* {
  font-family: 'HelveticaNeue-Medium';
}
a {
  color: #FE5815;
}
a:hover {
  color: #d1440b;
  text-decoration: none;
}
body {
  margin-top: 61px;
}
h1 {
  font-family: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
h3 {
  font-family: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
select,
input {
  height: 40px !important;
  border-radius: 0px !important;
}
button {
  border-radius: 3px !important;
  box-shadow: 0px 1px 6px #ccc;
}
button:hover {
  box-shadow: 0px 3px 10px #666;
  color: #fff;
}
button.btn-orange {
  border: 1px solid #FE5815;
  background: #FE5815;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
button.btn-orange.btn-lg {
  padding: 10px 40px !important;
  font-size: 14px;
}
button.btn-orange:hover {
  background: #FE5815;
  color: #fff;
  border: none;
}
button.btn-orange-line {
  border: 1px solid #FE5815;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.input-group .input-group-addon {
  border-radius: 0px;
}
.padding-right-0 {
  padding-right: 0px !important;
}
.break-line-50 {
  height: 50px;
}
.break-line-100 {
  height: 100px;
}
/* Start :: Validate */
#register-form {
  /* END ::     .fieldgroup {*/
}
#register-form .fieldgroup {
  background: url("../img/form-divider.gif") repeat-x scroll left top transparent;
  display: inline-block;
  padding: 8px 10px;
  width: 340px;
}
#register-form .fieldgroup label {
  float: left;
  padding: 15px 0 0;
  text-align: right;
  width: 110px;
}
#register-form .fieldgroup label.error {
  color: #FB3A3A;
  display: inline-block;
  margin: 4px 0 5px 125px;
  padding: 0;
  text-align: left;
  width: 220px;
}
#register-form .fieldgroup input,
#register-form .fieldgroup .fieldgroup > textarea,
#register-form .fieldgroup .fieldgroup select {
  float: right;
  margin: 10px 0;
  height: 25px;
}
#register-form .submit {
  padding: 10px;
  width: 220px;
  height: 40px !important;
}
/* Switch */
.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #E1B42B;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label::before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label::after {
  opacity: 1;
}
.switch-input:checked ~ .switch-handle {
  left: 74px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label::before,
.switch-label::after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label::before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label::after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-flat {
  padding: 0;
  background: #FFF;
  background-image: none;
}
.switch-flat .switch-label {
  background: #FFF;
  border: solid 2px #eceeef;
  box-shadow: none;
}
.switch-flat .switch-label:after {
  color: #FE5815;
}
.switch-flat .switch-handle {
  left: 6px;
  background: #dadada;
  width: 22px;
  height: 22px;
  box-shadow: none;
}
.switch-flat .switch-handle:before {
  background: #eceeef;
}
.switch-flat .switch-input:checked ~ .switch-label {
  background: #FFF;
  border-color: #FE5815;
}
.switch-flat .switch-input:checked ~ .switch-handle {
  left: 72px;
  background: #FE5815;
  box-shadow: none;
}
.switch-label,
.switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
/*  END :: Switch */
.navbar {
  background: #303030;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 3px 6px #333;
}
.navbar .container .navbar-header a {
  width: 109px;
  height: 30px;
  background-size: cover;
  background: url(../img/logo.svg);
  display: block;
  margin-top: 15px;
}
.navbar .container #navbar > ul > li {
  /* END :: &.have-dropdown { */
}
.navbar .container #navbar > ul > li > a {
  height: 60px;
  line-height: 30px;
  font-size: 12px;
  border-left: 1px solid #2a2a2a;
  border-right: 1px solid #363636;
  transition: all 0.2s ease-in-out;
}
.navbar .container #navbar > ul > li > a > i {
  color: #FE5815;
}
.navbar .container #navbar > ul > li.have-dropdown {
  cursor: pointer;
}
.navbar .container #navbar > ul > li.have-dropdown .dropdown-menu {
  min-width: 280px;
  background: #393939;
  border-radius: 0;
}
.navbar .container #navbar > ul > li.have-dropdown .dropdown-menu li {
  margin-left: 20px;
}
.navbar .container #navbar > ul > li.have-dropdown .dropdown-menu li:first-child {
  padding: 20px 20px 20px 0px;
  color: #fff;
}
.navbar .container #navbar > ul > li.have-dropdown .dropdown-menu li:first-child a {
  font-weight: bold;
}
.navbar .container #navbar > ul > li.have-dropdown .dropdown-menu li:last-child {
  color: #fff;
  padding: 10px 20px;
  background: #313131;
  margin-bottom: -4px;
  margin-left: 0px;
}
.navbar .container #navbar > ul > li.have-dropdown .dropdown-menu li:last-child a {
  border: none;
}
.navbar .container #navbar > ul > li.have-dropdown .dropdown-menu li a {
  color: #b1b1b1;
  border-top: 1px solid #444;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  font-weight: 100;
  font-family: 'helvetica-neue-light';
  transition: color 0.3s ease-in-out;
}
.navbar .container #navbar > ul > li.have-dropdown .dropdown-menu li:hover a {
  color: #FE5815;
  background: transparent;
}
.navbar .container #navbar > ul > li:last-child {
  padding-right: 10px;
}
.navbar .container #navbar > ul > li:last-child a {
  padding-right: 70px;
}
.navbar .container #navbar > ul > li:last-child .jess-icon {
  width: 57px;
  height: 56px;
  position: absolute;
  right: 3px;
  bottom: 0;
  background: url('../img/jess.png') 0 0 repeat-y;
}
footer {
  background: #303030;
  padding: 40px 0 0 0;
  height: 180px;
  font-size: 12px;
}
footer .container .row {
  /* END :: top-footer */
}
footer .container .row .top-footer {
  margin-bottom: 10px;
}
footer .container .row .top-footer > div:first-child a {
  width: 112px;
  height: 30px;
  background: url('../img/logo-footer.svg');
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .container .row .top-footer > div:first-child a img {
  vertical-align: middle;
  display: none;
}
footer .container .row .top-footer > div:nth-child(2) {
  text-align: right;
}
footer .container .row .top-footer > div:nth-child(2) ul li {
  float: right;
  margin-left: 40px;
}
footer .container .row .top-footer > div:nth-child(2) ul li a {
  transition: all 0.2s ease-in-out;
  color: #9d9d9d;
  text-decoration: none;
}
footer .container .row .top-footer > div:nth-child(2) ul li a:hover {
  color: #fff;
}
footer .container .row .bottom-footer {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  color: #999;
}
footer .container .row .bottom-footer > div:nth-child(2) {
  text-align: right;
}
.section-breadcrumbs {
  background: url('../img/bg-stripe-be.png?b=88') repeat 0 0;
  border-bottom: 1px solid #ddebf8;
  padding: 14px 0 14px;
}
.section-breadcrumbs .container .row ul {
  margin-bottom: 0;
  margin-left: -60px;
}
.section-breadcrumbs .container .row ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  color: #b6c3d0;
}
.section-breadcrumbs .container .row ul li:not(:first-child) {
  margin-left: 3px;
}
.section-breadcrumbs .container .row ul li:not(:first-child) i:first-child {
  font-size: 10px;
}
.section-breadcrumbs .container .row ul li.highlight {
  color: #FE5815;
}
.section-banner {
  height: 265px;
  margin-top: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/Sunshinecoast-header.jpg);
}
.section-banner h1 {
  font-family: 'HelveticaNeue-Bold';
  font-size: 50px;
  margin-top: 100px;
  color: #fff;
  text-shadow: 1px 2px 1px #000;
}
.section-banner.my-trips {
  background-image: url(../img/beach-banner.jpg);
  margin-top: 0px;
}
.section-login {
  background: url('../img/bg-mountains.jpg');
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
}
.section-login .container {
  height: 100%;
}
.section-login .container .row {
  height: 100%;
}
.section-login .container .row > .login-form {
  width: 400px;
  height: 480px;
  background: #fff;
  margin: 145px 0;
  border-radius: 2px;
  box-shadow: 0px 3px 6px #333;
}
.section-login .container .row > .login-form .panel-body h2 {
  margin-top: 20px;
  text-align: center;
  font-family: 'HelveticaNeue-Light';
}
.section-login .container .row > .login-form .panel-body form {
  margin-top: 65px;
}
.section-login .container .row > .login-form .panel-body form .form-group input {
  height: 45px;
  border-radius: 0px;
}
.section-login .container .row > .login-form .panel-body form button {
  border-radius: 3px;
  margin: 10px 5px;
  box-shadow: 0px 1px 6px #ccc;
  background: #FE5815;
  color: #fff;
  transition: all 0.2s ease-in-out;
  border: none;
  padding: 10px 40px;
}
.section-login .container .row > .login-form .panel-body form button:hover {
  background: #FE5815;
  box-shadow: 0px 3px 10px #666;
  color: #fff;
}
.section-register {
  padding: 100px 0px 100px 0px;
}
.section-register .container .row > div {
  /*Left part*/
  /*Right part*/
}
.section-register .container .row > div:nth-child(1) {
  /* END :: form {*/
}
.section-register .container .row > div:nth-child(1) form {
  /* END :: .form-group {*/
}
.section-register .container .row > div:nth-child(1) form .form-group {
  /* END :: &.in-line {*/
}
.section-register .container .row > div:nth-child(1) form .form-group.in-line {
  padding-bottom: 35px;
}
.section-register .container .row > div:nth-child(1) form .form-group.in-line p {
  margin-bottom: 5px;
}
.section-register .container .row > div:nth-child(1) form .form-group.in-line > div:nth-child(2) {
  padding-left: 0px;
  padding-right: 5px;
}
.section-register .container .row > div:nth-child(1) form .form-group.in-line > div:nth-child(3) {
  padding-right: 0px;
  padding-left: 5px;
}
.section-register .container .row > div:nth-child(1) form .form-group.in-line > div label.error {
  color: red;
  font-size: 12px;
  font-weight: 100;
}
.section-register .container .row > div:nth-child(1) form .form-group p i.icon-asterisk {
  color: red;
  font-size: 8px;
  vertical-align: middle;
}
.section-register .container .row > div:nth-child(1) form button.finish-register {
  margin-top: 20px;
}
.section-register .container .row > div:nth-child(2) .features-item {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}
.section-register .container .row > div:nth-child(2) .features-item i {
  font-size: 30px;
  color: #FE5815;
}
.section-register .container .row > div:nth-child(2) .features-item:hover {
  box-shadow: 0px 3px 10px #666;
  cursor: pointer;
}
section.mytrip {
  margin-top: -90px;
}
section.mytrip .container .row > div:nth-child(1) {
  background: #fff;
}
section.mytrip .container .row > div:nth-child(1) h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  padding: 35px 25px;
}
section.mytrip .container .row > div:nth-child(1) ul {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 30px;
}
section.mytrip .container .row > div:nth-child(1) ul li {
  list-style: none;
}
section.mytrip .container .row > div:nth-child(1) > div {
  background: url('../img/bg-stripe-cop.png') repeat 0 0;
  border: 1px solid #FE5815;
  padding: 20px 30px;
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out;
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
}
section.mytrip .container .row > div:nth-child(1) > div::after {
  font-family: "fontello";
  content: "\e8aa";
  font-size: 30px;
  color: #FE5815;
  position: absolute;
  top: 27px;
  right: 15px;
}
section.mytrip .container .row > div:nth-child(1) > div:hover {
  box-shadow: 0px 1px 5px #666;
}
section.mytrip .container .row > div:nth-child(1) > div h2 {
  line-height: 0;
  font-weight: bold;
  color: #FE5815;
}
section.mytrip .container .row > div:nth-child(1) > div h4 {
  line-height: 0;
  padding-bottom: 5px;
  font-weight: 100;
}
section.mytrip .container .row > div:nth-child(2) {
  background: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
}
section.mytrip .container .row > div:nth-child(2) h4,
section.mytrip .container .row > div:nth-child(2) h3 {
  font-weight: bold;
}
section.mytrip .container .row > div:nth-child(2) h3 {
  margin-top: 40px;
  font-size: 18px;
}
section.setting-page {
  background: #fff;
}
section.setting-page .container .row > div {
  padding-top: 30px;
  padding-bottom: 50px;
}
section.setting-page .container .row > div:nth-child(1) {
  position: relative;
}
section.setting-page .container .row > div:nth-child(1)::after {
  position: absolute;
  width: 100%;
  height: 200px;
  right: -143px;
  bottom: -160px;
  content: "";
  background: url("../img/settings-bg.jpg") no-repeat;
}
section.setting-page .container .row > div:nth-child(1) ul {
  padding-left: 0;
}
section.setting-page .container .row > div:nth-child(1) ul li {
  list-style: none;
  border-bottom: 1px solid #f6f6f6;
}
section.setting-page .container .row > div:nth-child(1) ul li a {
  color: #303642;
  display: block;
  padding: 14px 10px;
}
section.setting-page .container .row > div:nth-child(1) ul li a:hover {
  color: #FE5815;
}
section.setting-page .container .row > div:nth-child(1) ul li a i {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 10px;
}
section.setting-page .container .row > div:nth-child(1) ul li.active a {
  font-family: 'helvetica-neue-bold';
  color: #FE5815;
  cursor: auto;
}
section.setting-page .container .row > div:nth-child(2) {
  border-left: 1px solid #f6f6f6;
  padding-left: 30px;
  padding-right: 30px;
}
section.setting-page .container .row > div:nth-child(2) > h1 {
  font-family: 'helvetica-neue-bold';
  font-weight: bold;
  font-size: 50px;
}
section.setting-page .container .row > div:nth-child(2) > p {
  font-family: 'HelveticaNeue-Light';
  margin-top: 25px;
}
.field-box-item-setting {
  padding-left: 0;
  margin-bottom: 30px;
}
.field-box-item-setting h3 {
  font-size: 22px;
  font-family: 'helvetica-neue-bold';
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 20px;
}
.field-box-item-setting .field {
  font-size: 12px;
  font-family: 'HelveticaNeue-Light';
}
.field-box-item-setting .content-view {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-out;
  border-bottom: 1px solid #f6f6f6;
}
.field-box-item-setting .content-view h5 {
  line-height: 0px;
  font-weight: bold;
}
.field-box-item-setting .content-view p {
  font-family: 'HelveticaNeue-Light';
}
.field-box-item-setting .content-view table {
  margin-bottom: -20px;
  margin-left: -20px;
}
.field-box-item-setting .content-view table tr {
  border: none;
}
.field-box-item-setting .content-view table tr td {
  border: none;
}
.field-box-item-setting .content-view table tr td:nth-child(2) {
  font-family: 'HelveticaNeue-Bold';
  font-weight: bold;
}
.field-box-item-setting .content-view .btn-list {
  text-align: right;
  margin-bottom: 20px;
}
.field-box-item-setting .content-view .btn-list button {
  margin-top: -10px;
  position: relative;
  z-index: 1;
}
.field-box-item-setting .edit-view {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-out;
  border-bottom: 1px solid #f6f6f6;
}
.field-box-item-setting .edit-view.have-inline-form {
  padding-left: 0;
}
.field-box-item-setting .edit-view.have-inline-form .form-group {
  display: -webkit-flex;
  display: flex;
}
.field-box-item-setting .edit-view.have-inline-form .form-group > label {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.field-box-item-setting .edit-view.have-inline-form .form-group > div.tip {
  font-size: 12px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.field-box-item-setting .edit-view.have-table-form table tr {
  border-bottom: 1px solid #f6f6f6;
  border-top: none;
}
.field-box-item-setting .edit-view.have-table-form table tr td {
  padding: 15px 0px;
  vertical-align: middle;
}
.field-box-item-setting .edit-view.have-table-form table tr td .form-group {
  margin-bottom: 0px;
}
.field-box-item-setting .edit-view .btn-list {
  text-align: right;
}
.field-box-item-setting.edit-mode .content-view {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}
.field-box-item-setting.edit-mode .edit-view {
  display: block;
  opacity: 1;
}
.end-line {
  padding: 40px 0px 40px 0px;
}
.end-line a {
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */