
section.setting-page {	
	background: #fff;
	.container {
		.row {
			& > div {
				padding-top: 30px;
				padding-bottom: 50px;
				&:nth-child(1) {
					position: relative;
					&::after {
						position: absolute;
						width: 100%;
						height: 200px;
						right: -143px;
						bottom: -160px;
						content: "";
						background: url("../img/settings-bg.jpg") no-repeat;
					}
					ul {
						padding-left: 0;						
						li {
							list-style: none;
							border-bottom:  1px solid #f6f6f6; 
							a {
								color: #303642;	
								display: block;							
								padding: 14px 10px;
								&:hover {
									color: @color-orange;
								}
								i {
									font-size: 18px;
									vertical-align: middle;
									margin-right: 10px;
								}
							}

							&.active {
								a {
									font-family: 'helvetica-neue-bold';
									color: @color-orange;
									cursor: auto;									
								}
							}
						}
					}
				}
				&:nth-child(2) {					
					border-left: 1px solid #f6f6f6;
					padding-left: 30px;
    				padding-right: 30px;
					& > h1 {
						font-family: 'helvetica-neue-bold';
						font-weight: bold;
						font-size: 50px;
					}
					& > p {
						font-family: 'HelveticaNeue-Light';
						margin-top: 25px;
					}
				}
			}
		}
	}
}
// END :: setting-page
// ------------------------------------------------------------------------------------



// ------------------------------------------------------------------------------------
// START  :: field-box-item-setting 
.field-box-item-setting  {
	padding-left: 0;
	margin-bottom: 30px;	
	h3 {
		font-size: 22px;
		font-family: 'helvetica-neue-bold';
		border-bottom:  1px solid #f6f6f6; 
		padding-bottom: 20px;
	}
	.field {
		font-size: 12px;
		font-family: 'HelveticaNeue-Light';
	}
	.content-view {
	    display: block;	
	    opacity: 1;
	    transition: opacity 1s ease-out;	
	    border-bottom:  1px solid #f6f6f6;   
		h5 {
			line-height: 0px;
			font-weight: bold;
		}
		p {
			font-family: 'HelveticaNeue-Light';
		}
		table {			
			margin-bottom: -20px;
			margin-left: -20px;
			tr {
				border: none;
				td {
					border: none;
					&:nth-child(2) {
						font-family: 'HelveticaNeue-Bold';
						font-weight: bold;
					}
				}
			}
		}
		.btn-list {
			text-align: right;
			margin-bottom: 20px;
			button {
				margin-top: -10px;
				position: relative;
    			z-index: 1;
			}
		}
	}

	.edit-view {
		display: none;	
		opacity: 0; 
		transition: opacity 1s ease-out;
		border-bottom:  1px solid #f6f6f6; 
		&.have-inline-form {
			padding-left: 0;
			.form-group {
				display: -webkit-flex;
   				 display: flex;
   				 & > label {
   				 	display: -webkit-flex;
				    display: flex;
				    align-items: center;
   				 }
   				 & > div {
   				 	&.tip {
   				 		font-size: 12px;
   				 		display: -webkit-flex;
   				 		display: flex;
    					align-items: center;
   				 	}
   				 	.checkbox.bigger {

   				 	}
   				 }   				
			}
		}	
		&.have-table-form {
			table {
				tr {
					border-bottom: 1px solid #f6f6f6;
					border-top: none;
					td {
						padding: 15px 0px;
						vertical-align: middle;
						.form-group {
							margin-bottom: 0px;
						}
						img {
							
						}
					}
					
				}
			}
		}
		.btn-list {
			text-align: right;
		}
	}

	&.edit-mode {
		.content-view {
			display: none;
			transition: opacity 1s ease-out;
			opacity: 0; 
		}
		.edit-view {
			display: block;
			opacity: 1; 
		}
	}
}
// END :: field-box-item-setting 
// ------------------------------------------------------------------------------------


// ------------------------------------------------------------------------------------
// START  :: end-line
.end-line {
	padding: 40px 0px 40px 0px;
	a {
		margin-left: 15px;
	}
}

// END :: end-line
// ------------------------------------------------------------------------------------